.gradle/
local.properties
keystore.properties
keystore/
*.jks
build/
app/build/
external/rhvoice/src/android/.gradle/
external/rhvoice/src/android/**/build/
external/rhvoice/bin/
*.apk
!blindroid-102.apk
!app/src/main/assets/*.apk
data/
tools/
external/*
!external/talkback/
!external/talkback/**
!external/rhvoice/
!external/rhvoice/**
external/rhvoice/bin/
external/talkback/.git_backup/
external/rhvoice/.git_backup/
**/.cxx/
braillekeyboard/src/main/cpp/liblouis/.git/
braillekeyboard/src/main/cpp/liblouis/.git_submodule/
braillekeyboard/src/main/cpp/liblouis/.git_submodule
